@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$font-default: 'Ubuntu', sans-serif;
$font-family: 'Ubuntu', sans-serif;
$background-content: #fafafa;
$rubik: 'Rubik', sans-serif;
$popins: 'Poppins', sans-serif;
$base-color: #591DE8;
$base-green: #591DE8;
$hover-color: #591DE8;
$focus-color: #0B253F;
$hover-button: #6a30f0d7;
$main-background: #ffffff;
$background-content: #fafafa;
$background-gradient: linear-gradient(135deg,#7039CA 20%, #FA4A4D 150%);
$black_backround: #0F1535;
$color-primary: #000000;
$color-second: #6202FF;
$black: #000000;
$light_black: #3E3D53;
$red: #FA4A4D;
$white: #fff;
$light_gray: #979797;
$light_gray2: #D8D8D8;
$light_gray3: #F0F0F0;
$gray: #B3B3B3;
$border_gray: #F4F4F4;
$green: #591DE8;
$violet: #7039CA;
$violet2: #7039CA;
$yellow: #FFDB6F;
$orange: #FFB300;
$beige: #fbfbfb;
$beige-light: #FAFAFA;
$beige-light2: #FCFCFC;

$input-border: 2px solid #0B253F;
$input-height: 54px;
$input-error: 2px solid rgba(253, 162, 155, 1);
$input-focus: 2px solid #0B253F;
$input-shadow: 0px 0px 0px 4px rgba(244, 235, 255, 1);
$input-desable: 2px solid rgba(249, 250, 251, 1);

$input-desable-color: rgba(102, 112, 133, 1);
$multiselect-item: rgba(249, 250, 251, 1);

$dropdown-shadow: 0px 4px 6px -2px #10182808;
$dropdown-shadow2: 0px 12px 16px -4px #10182814;